@font-face {
  font-family: "Autumn Flowers";
  src: url("../fonts/AutumnFlowers.woff2") format("woff2"),
    url("../fonts/AutumnFlowers.otf") format("opentype");

  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "SF Pro Text Semibold";
    src: url("../fonts/SF.woff2") format("woff2"),
      url("../fonts/SF.ttf") format("trueType");
  
    font-weight: 600;
    font-style: normal;
  }



  
@font-face {
  font-family: "Moonhouse";
  src: url("../fonts/Moonhouse.woff2") format("woff2"),
    url("../fonts/Moonhouse.ttf") format("trueType");

  font-weight: 400;
  font-style: normal;
}
  

  @font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/SF.woff2") format("woff2"),
      url("../fonts/SF.ttf") format("trueType");
  
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Text Regular";
    src: url("../fonts/SF-Pro.woff2") format("woff2"),
      url("../fonts/SF-Pro.ttf") format("trueType");
  
    font-weight: 600;
    font-style: normal;
  }


  @font-face {
    font-family: "Dolce-Amyara";
    src: url("./assets/fonts/DOLCEANDAMYARAPERSONALUSE-YZJDY.TTF") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
  font-family: "Test Founders Grotesk X-Cond Sm";
  src: url("/fonts/Test-Founders-Grotesk-X-Cond-Sm.woff2") format("woff2"),
       url("/fonts/Test-Founders-Grotesk-X-Cond-Sm.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Regular";
  src: url("/fonts/Neue-Montreal-Regular.woff2") format("woff2"),
       url("/fonts/Neue-Montreal-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Qrada Personal Use";
  src: url("/fonts/Qrada-Personal-Use.woff2") format("woff2"),
       url("/fonts/Qrada-Personal-Use.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}